# Entorno virtual
venv/
.venv/
env/
.env/
ENV/

# Base de datos SQLite
*.sqlite3
*.db
*.log

# Archivos de Python cache
__pycache__/
*.pyc
*.pyo

# Variables de entorno
.env
.env.local

# IDE/Editor
.vscode/
.idea/
.DS_Store

# Archivos de Django
*.log
staticfiles/
media/